{% extends 'app1/base.html' %}

{% block body_block %}
    <body background="https://media.discordapp.net/attachments/596570958601388078/601818588524970004/FirstDesign.png">
    <style>
        h1{
            color: orangered;
            font-size: xx-large;
            alignment: right;
        }
    </style>
    <h1 align="right"><em>Gensic is made  for all <strong>your</strong> music needs. Find and create music as per your tastes. Get the best music recommendations based on your activities.</em></h1>
    </body>
{% endblock %}